.couponContent{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    .contentItem{
        padding: 0.32rem 0.28rem;
        width: 100%;
        height: calc(100% - 0.9rem);
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        .coupon{
            position: relative;
            width: 100%;
            box-shadow:0 .16rem .36rem 0 rgba(0,0,0,0.02),0 .13rem .28rem 0 rgba(0,0,0,0.05),0 0.02rem 0.12rem 0 rgba(61,79,102,0.15);
            border-radius: .12rem;
            margin-bottom: 0.32rem;
            font-size: 0;
            .couponImg{
                width: 100%;
                height: 1.64rem;
                border-radius: .12rem .12rem 0 0;
            }
            .gray{
                -webkit-filter: grayscale(100%);
                -moz-filter: grayscale(100%);
                -ms-filter: grayscale(100%);
                -o-filter: grayscale(100%);

                filter: grayscale(100%);

                filter: gray;
            }
            .expired{
                position: absolute;
                z-index: 1;
                right: 0.2rem;
                bottom: 0.18rem;
                height: 1.2rem;
                width: 1.2rem;
            }
            .others{
                position: relative;
                width: 100%;
                height: .92rem;
                line-height: .92rem;
                background:rgba(255,255,255,1);
                border-radius:0 0 .12rem .12rem;
                font-size: 0.24rem;
                font-family:PingFangSC-Medium;
                font-weight:500;
                .time{
                    margin-left: 0.28rem;
                    color:rgba(106,106,106,1);
                }
                .info{
                    text-decoration : underline;
                    margin-left: 0.28rem;
                    color:rgba(40,160,255,1);
                }
                .buttonPri{
                    position: absolute;
                    display: inline-block;
                    border-radius: 0.27rem;
                    font-size: 0.28rem;
                    height: 0.48rem;
                    line-height: 0.48rem;
                    padding-right: 0.24rem;
                    padding-left: 0.24rem;
                    right: 0.28rem;
                    top: 0.22rem;
                    background:linear-gradient(90deg,rgba(255,138,28,1) 0%,rgba(247,77,57,1) 100%);
                    font-family:PingFangSC-Medium;
                    font-weight:500;
                }
                .buttonPri::before{
                    border: none;
                }
            }
        }

        .emptyPage{
            width: 100%;
            height: 100%;
            background-color: #ffffff;
            text-align: center;
            .emptyPageImg{
                display: block;
                width: 2.16rem;
                height: 1.86rem;
                margin: 0.9rem auto 0.5rem;
            }
            .text{
                line-height: 0.44rem;
                font-size: 0.26rem;
                font-family:PingFangSC-Regular;
                font-weight:400;
                color:rgba(153,153,153,1);
            }
            .emptyButtonPri{
                margin:.44rem auto;
                width:1.88rem;
                height:.68rem;
                line-height: 0.68rem;
                font-size: .34rem;
                font-family:PingFangSC-Regular;
                font-weight:400;
                color:rgba(52,58,62,1);
                padding-right: 0.2rem;
                padding-left: 0.2rem;
                border-radius: .34rem;
                background:linear-gradient(90deg,rgba(254,227,0,1) 0%,rgba(253,199,13,1) 100%);

            }
            .emptyButtonPri::before{
                border: none;
            }
        }
    }
}

.couponModal{
    :global{
        .am-modal-content{
            width: 5.74rem;
            height:7.84rem;
            background:linear-gradient(90deg,rgba(254,227,0,1) 0%,rgba(253,199,13,1) 100%);
            border-radius: 0.12rem;
        }
    }
    .title{
        margin-top: 0.15rem;
        margin-bottom: 0.06rem;
        font-size: .52rem;
        font-family:PingFangSC-Medium;
        font-weight:500;
        color:rgba(52,58,62,1);
    }
    .disc{
        font-size: .30rem;
        font-family:PingFangSC-Regular;
        font-weight:400;
        color:rgba(52,58,62,1);
        margin-bottom: 0.24rem;
    }
    .courseList{
        width:4.90rem;
        height:5.22rem;
        background:rgba(255,255,255,1);
        border-radius: .12rem;
        border: 0.02rem solid rgba(51,51,51,1);
        margin: 0 auto;
        padding: 0 0.2rem;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        .courseName{
            width: 100%;
            text-align: left;
            padding: 0.28rem 0.14rem;
            border-bottom: 2px solid rgba(224,224,224,1);
            font-size: .30rem;
            font-family:PingFangSC-Regular;
            font-weight:400;
            color: #343A3E;
            .index{
                display: inline-block;
                width: 0.44rem;
                height: 0.44rem;
                border-radius: 100%;
                color: #ffffff;
                background: #FF891D;
                font-size: .30rem;
                font-family:PingFangSC-Medium;
                font-weight:500;
                text-align: center;
                margin-right: 0.24rem;
            }
        }
    }
    .footerText{
        font-size: .30rem;
        font-family:PingFangSC-Regular;
        font-weight:400;
        color:rgba(52,58,62,1);
        margin-top: 0.16rem;
    }
}
