*,
*::before,
*::after {
    box-sizing: border-box; // 1
    outline: none;
}

:focus {
    outline: none !important;
    outline-offset: unset !important;
}

html,
body,
#root {
    height: 100%;

}

body {
    margin: 0;
    font-size: 0.12rem;
}
